body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ECE7E7;
	margin: 0px 0px 0px 0px;
}
.page-header{
	background: #ECE7E7;
	width: 1280px;
	font-size: 1rem;
}

.sportImage {
	border: 1px solid black;
}

.mainImage {
	border: 1px solid black;
}
.referralImage {
	border: 1px solid black;
}

.page-content{
        color: #000;
        font-size: 1.25rem;
        align-items: center;
        justify-content: center;
        text-align: center;
		width:1280px;
		margin:0 auto;
		position:relative;
		background: #C91C31;
		
}
.main-nav ul{
		background: #ECE7E7;
        color: #fff;
        font-size: 1.25rem;
        align-items: center;
        justify-content: center;
		display: flex;
        text-align: center;
}	
.main-nav a{ 
	color: #000000;
	background: #d2cece;
    display: block;
    padding: 10px 20px;
}
.main-nav a:hover{
	background: #ECE7E7;
	color: #FFFFFF;
}

.main-nav li {
    display: flex;
    padding: 10px 40px;
}

.Main {
	width: 1280px;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #ECE7E7;
	
}
.article1{
	border: 1px solid black;
}

.Main header{
	text-align: left;
	}
.articleMain1{
	display: flex;
	color: #000000;
	background: #FFFFFF;
	align-items: center;
    justify-content: center;		
    text-align: center;
	border: 1px solid black;
	margin-bottom: 4px;
	
}
.articleMain2{
	display: flex;
	color: #000000;
	background: #FFFFFF;
	align-items: center;
    justify-content: center;		
    text-align: center;
	border: 1px solid black;
	margin-bottom: 4px;
	
}
.Secondary {
	width: 1280px;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #ECE7E7;
}
.Secondary header{
	text-align: left;
	}
.Secondary article{
	display: flex;
	color: #000000;
	background: #FFFFFF;
	align-items: center;
    justify-content: center;		
    text-align: center;
	
}

.articleSecondary{
	border: 1px solid black;
}

.Sport {
	width: 1280px;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #ECE7E7;
	align-items: baseline;
	
}

#SportsList li{
	
	display: flex;
	background-color: #FFFFFF;
	margin-bottom: 5px;
	margin-right:35px;
	border: 1px solid black;
}

.Referral article
{
	display: flex;
	background-color: #FFFFFF;
	margin-bottom: 5px;
	margin-right:35px;
	margin-left: 35px;
	border: 1px solid black;
}
.Referral{
	width: 1280px;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #ECE7E7;
}
.Contact {
	width: 1280px;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #ECE7E7;
}

.footer {
	width: 1277px;
	background-color: #ECE7E7;
	border: 2px solid black;
	
}	 	
#background {
    position: fixed;
    bottom: 0;
}


