/* Colors */
/* #000000 */
/* #444444 */
/* #707070 */
/* #AAAAAA */
/* #F5F5F5 */
/* #FFFFFF */
/* #2699FB */


/* fonts */
@font-face {
    font-family: 'Roboto-Black';
      src:  url('fonts/Roboto-Black.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


/* Body */
body {
	font-family: Arial, Helvetica, sans-serif, Roboto-Black;
	font-size: 11px;
	color: #AAAAAA;
	margin: 0px 0px 0px 0px;
}
/* Page */
.page-header{
	background: #F5F5F5;
	width: 1280px;
	color: #707070;
	font-size: 1em;
}

h2{
	font-size: 0.99em;
}

.titleHeaders{
	font-size: 20px;
	text-align: left;
}



.page-content{
        color: #000;
        font-size: 1.25rem;
        align-items: center;
        justify-content: center;
        text-align: center;
		width:1280px;
		margin:0 auto;
		position:relative;
		background: #2699FB;
		
}
/* Images */
.sportImage {
	border: 1px solid black;
}

#sportImage a:hover{
	 background-color: #2CA58D59;
}

.mainImage {
	border: 1px solid black;
}
.secondaryImage {
	border: 1px solid black;
}
.referralImage {
	border: 1px solid black;
}
/* Main section and nav list in main*/
.Main {
	width: 1280px;
	font-size: 0.9em;
	align-items: center;
    justify-content: center;
    text-align: center;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #AAAAAA;
	
}

.main-nav ul{
		background: #AAAAAA;
        color: #fff;
        font-size: 1.25rem;
        align-items: center;
        justify-content: center;
		display: flex;
        text-align: center;
}	
.main-nav a{ 
	color: #FFFFFF;
	background: #AAAAAA ;
    display: block;
    padding: 10px 20px;
}
.main-nav a:hover{
	background: #FFFFFF;
	color: #000000;
}

.main-nav li {
    display: flex;
    padding: 10px 40px;
}

.article1{
	border: 1px solid black;
}

.Main header{
	
	}
	.articleMain1  {
	display: flex;
	color: #000000;
	background: #FFFFFF;
	border: 1px solid black;
	margin-bottom: 4px;
	position: relative;

	}

.articleMain2{
	display: flex;
	color: #000000;
	background: #FFFFFF;
	border: 1px solid black;
	margin-bottom: 4px;
	
}
/* Secondary section */
.Secondary {
	font-size: 0.9em;
	width: 1280px;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #AAAAAA;
}
.Secondary article{
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	color: #000000;
	background: #FFFFFF;
}

.articleSecondary1{
	border: 1px solid black;
	margin-bottom: 4px;
}
.articleSecondary2{
	border: 1px solid black;
	margin-bottom: 4px;
}
/* Sport section */
.Sport {
	width: 1280px;
	margin: 0px auto;
	font-size: 0.9em;
	margin-bottom: 20px;
	background-color: #AAAAAA;
	
}

#SportsList li{
	display: flex;
	background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-align: center;
	margin-bottom: 5px;
	margin-right:35px;
	border: 1px solid black;
}

/* Referral section */
.Referral{
	font-size: 0.9em;
	width: 1280px;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #AAAAAA;
}

.articleReferral
{
	display: flex;
	background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-align: center;
	margin-bottom: 5px;
	margin-right:35px;
	margin-left: 35px;
	border: 1px solid black;
}
/* Contact */
.Contact {
	font-size: 0.9em;
	width: 1280px;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #AAAAAA;
}
/* Footer section */
.footer {
	width: 1277px;
	color: #707070;
	background-color: #AAAAAA;
	border: 2px solid black;
	
}	 	
/* Background video */
#background {
    position: fixed;
    bottom: 0;
}




