body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	margin: 0px 0px 0px 0px;
}
.page-header{
	background: #2699FB;
	width: 1280px;
	position: center;
	font-size: 1rem;
}


.page-content{
        color: #fff;
        font-size: 1.25rem;
        align-items: center;
        justify-content: center;
        text-align: center;
		width:1280px;
		margin:0 auto;
		position:relative;
		background: #FFFFFF;
		
}
nav ul{
		background: #2699FB;
        color: #fff;
        font-size: 1.25rem;
        align-items: center;
        justify-content: center;
		display: flex;
        text-align: center;
}	
nav a { 
	color: #000000;
	font: #FFFFFF;
	background: #FFFFFF;
    display: block;
    padding: 10px 30px;
}
nav a:hover{
	background: #2699FB;
	color: #FFFFFF;
}

nav li {
    display:inline;
    padding: 10px 40px;
}

.Main {
	width: 1280px;
	margin: 0px auto;
	margin-bottom: 100px;
	background-color: #33A333;
	
}
.article1{
	border: 1px solid black;
	margin-right: 15px;
}
.article2{
	border: 1px solid black;
	margin-left: 15px;
}
.Main header{
	text-align: left;
	}
.Main article{
	display: flex;
	color: #000000;
	font: #FFFFFF;
	background: #FFFFFF;
	align-items: center;
    justify-content: center;		
    text-align: center;
	
}
.Secondary {
	width: 1280px;
	height: 900px;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #33A333;
	align-items: baseline;
}
.Secondary article{
	color: #000000;
	font: #FFFFFF;
	background: #FFFFFF;
	align-items: center;
	display: flex;
    justify-content: center;	
    text-align: center;
	
}
.Sport {
	width: 940px;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #33A333;
	
}
.Referral{
	width: 940px;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #33A333;
}
.Contact {
	width: 940px;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #33A333;
	
}
.footer {
	width: 940px;
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: #000000;
	
}	 	

